/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}
/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

:root {
  --dark-blue: #020122;
  --blue: #889cae;
  --orange: #ff7300;
  --sandy-brown: #fc9e4f;
  --flax: #edd382;
  --vanilla: #fff7b2;
  --grey: #959595;
  --dark-grey: #424242;
  --cell-background: white;
}

@font-face {
  font-family: 'Impact Label';
  src: url('./fonts/ImpactLabel.woff2') format('woff2'),
    url('./fonts/ImpactLabel.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Impact Label Reversed';
  src: url('./fonts/ImpactLabelReversed.woff2') format('woff2'),
    url('./fonts/ImpactLabelReversed.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.format {
  background-color: var(--dark-blue);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Impact Label Reversed', 'Franklin Gothic Medium', 'Arial Narrow',
    Arial, sans-serif;
}

.header {
  color: var(--orange);
  background-color: var(--dark-blue);
  min-height: 100px;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  background-color: var(--orange);
}

.container {
  display: flex;
  gap: 30px;
  padding: 40px 0;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  grid-row: 1 / span 3;
}
.turn {
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: x-large;
  min-height: 100px;
  min-width: 350px;
  border-radius: 15px;
  color: var(--vanilla);
}
.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 5px;
  border: 5px solid var(--dark-blue);
}
.cell {
  height: 175px;
  width: 175px;
  border-radius: 0;
  font-size: xx-large;
  background-color: var(--cell-background);
}
.cell:hover {
  background-color: var(--sandy-brown);
}

.cell:disabled {
  background-color: var(--cell-background);
  border: solid rgb(27, 30, 46);
  color: rgb(27, 30, 46);
}
.cell:disabled:hover {
  background-color: var(--cell-background);
}

form {
  background-color: var(--vanilla);
  min-width: 350px;
  padding: 10px 20px;
  border-radius: 20px;
  display: grid;
  gap: 10px;
  color: var(--dark-blue);
}
form p {
  display: grid;
  font-size: x-large;
  grid-template-columns: 1fr 2fr;
}

form p span {
  margin-right: 20px;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.turn {
  font-size: xx-large;
}

.left,
.right {
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  color: var(--vanilla);
}

.left > p,
.right > p {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.control {
  font-size: xx-large;
  border-radius: 15px;
  padding: 0 20px;
}
