/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}
/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

.format {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  background-color: rgb(163, 163, 189);
  min-height: 60px;
}

.footer {
  background-color: rgb(199, 199, 159);
  min-height: 60px;
}

.container {
  background-color: rgb(223, 191, 191);
  min-height: 88vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  grid-row: 1 / span 3;
}
.turn {
  background-color: azure;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: x-large;
  min-height: 100px;
  min-width: 350px;
  border-radius: 15px;
}
.board {
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 5px;
  border: 5px solid black;
}
.cell {
  height: 175px;
  width: 175px;
  border-radius: 0;
  font-size: xx-large;
}
.cell:hover {
  background-color: lightblue;
}

.cell:disabled {
  background-color: white;
  border: solid black;
  color: black;
}
.cell:disabled:hover {
  background-color: white;
}

form {
  background-color: white;
  min-width: 350px;
}
form p {
  display: grid;
  font-size: large;
  grid-template-columns: 1fr 2fr;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: rgb(223, 191, 191);
}

.left,
.right {
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
}

.left > p,
.right > p {
  display: flex;
  flex-direction: column;
  align-items: center;
}
